/*
#workbench\.parts\.statusbar:has([aria-label="-- NORMAL --"]) { background-color: #181818 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- NORMAL --  MULTI CURSOR"]) { background-color: #4fa532fd !important; }
#workbench\.parts\.statusbar:has([aria-label="-- INSERT --"]) { background-color: #007acc !important; }
#workbench\.parts\.statusbar:has([aria-label="-- EASYMOTION --"]) { background-color: #007acc !important; }
#workbench\.parts\.statusbar:has([aria-label^=":"]) { background-color: #007acc !important; }
#workbench\.parts\.statusbar:has([aria-label^="/"]) { background-color: #007acc !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL --  MULTI CURSOR"]) { background-color: #5f00af !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL --"]) { background-color: #5f00af !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL LINE --"]) { background-color: #005f87 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL BLOCK --"]) { background-color: #a96924 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- SURROUND INPUT --"]) { background-color: #af31a3 !important; }
*/

#workbench\.parts\.statusbar:has([aria-label^="/"]) { background-color: #007acc !important; }
#workbench\.parts\.statusbar:has([aria-label^=":"]) { background-color: #007acc !important; }

#vscodevim\.vim\.primary:has([aria-label="-- EASYMOTION --"]) { background-color: #007acc !important; }
#vscodevim\.vim\.primary:has([aria-label="-- NORMAL --"]) { background-color: #000000 !important; }
#vscodevim\.vim\.primary:has([aria-label="-- INSERT --"]) { background-color: #007acc !important; }
#vscodevim\.vim\.primary:has([aria-label="-- VISUAL --"]) { background-color: #5f00af !important; }
#vscodevim\.vim\.primary:has([aria-label="-- VISUAL LINE --"]) { background-color: #005f87 !important; }
#vscodevim\.vim\.primary:has([aria-label="-- VISUAL BLOCK --"]) { background-color: #a96924 !important; }
#vscodevim\.vim\.primary:has([aria-label="-- SURROUND INPUT --"]) { background-color: #af31a3 !important; }

#workbench\.parts\.statusbar:has([aria-label="-- NORMAL --  MULTI CURSOR"]) { background-color: #000000 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- INSERT --  MULTI CURSOR"]) { background-color: #006acc !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL --  MULTI CURSOR"]) { background-color: #4f00af !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL LINE --  MULTI CURSOR"]) { background-color: #004f87 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL BLOCK --  MULTI CURSOR"]) { background-color: #a96923 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- SURROUND INPUT --  MULTI CURSOR"]) { background-color: #af30a3 !important; }