#workbench\.parts\.statusbar:has([aria-label^=":"]) { background-color: #0076c4 !important; }
#workbench\.parts\.statusbar:has([aria-label^="/"]) { background-color: #226693 !important; }

#vscodevim\.vim\.primary:has([aria-label="-- NORMAL --"]) { background-color: #181818 !important; }
#vscodevim\.vim\.primary:has([aria-label="-- INSERT --"]) { background-color: #0076c4 !important; }
#vscodevim\.vim\.primary:has([aria-label="-- EASYMOTION --"]) { background-color: #0076c4 !important; }
#vscodevim\.vim\.primary:has([aria-label="-- VISUAL --"]) { background-color: #5f00af !important; }
#vscodevim\.vim\.primary:has([aria-label="-- VISUAL LINE --"]) { background-color: #5f00af !important; }
#vscodevim\.vim\.primary:has([aria-label="-- VISUAL BLOCK --"]) { background-color: #965d20 !important; }
#vscodevim\.vim\.primary:has([aria-label="-- SURROUND INPUT --"]) { background-color: #277d02 !important; }

#workbench\.parts\.statusbar:has([aria-label="-- NORMAL --  MULTI CURSOR"]) { background-color: #181818 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- INSERT --  MULTI CURSOR"]) { background-color: #0076c4 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- EASYMOTION --  MULTI CURSOR"]) { background-color: #0076c4 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL --  MULTI CURSOR"]) { background-color: #5f00af !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL LINE --  MULTI CURSOR"]) { background-color: #5f00af !important; }
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL BLOCK --  MULTI CURSOR"]) { background-color: #965d20 !important; }
#workbench\.parts\.statusbar:has([aria-label="-- SURROUND INPUT --  MULTI CURSOR"]) { background-color: #277d02 !important; }
