:root {
    --white: #ffffff;
    --black: #000000;
    --command-color: #0076c4;
    --search-color: #226693;
    --normal-color: #0f469e;
    --insert-color: #0076c4;
    --replace-color: #c42400;
    --easymotion-color: #78c9ff;
    --visual-color: #b016ab;
    --visualline-color: #5f00af;
    --visualblock-color: #ed940e;
    --surround-color: #8af85b;
}

#workbench\.parts\.statusbar:has([aria-label^=":"]) { background-color: var(--insert-color) !important;   color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label^="/"]) { background-color: var(--search-color) !important;   color: var(--white) !important}

#workbench\.parts\.statusbar:has([aria-label="-- NORMAL --"]) { background-color: var(--normal-color) !important;   color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- INSERT --"]) { background-color: var(--insert-color) !important;   color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- REPLACE --"]) { background-color: var(--replace-color) !important;  color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- EASYMOTION --"]) { background-color: var(--easymotion-color) !important;   color: var(--black) !important}
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL --"]) { background-color: var(--visual-color) !important;   color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL LINE --"]) { background-color: var(--visualline-color) !important;   color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL BLOCK --"]) { background-color: var(--visualblock-color) !important;   color: var(--black) !important}
#workbench\.parts\.statusbar:has([aria-label="-- SURROUND INPUT --"]) { background-color: var(--surround-color) !important;   color: var(--black) !important}

#workbench\.parts\.statusbar:has([aria-label="-- NORMAL --  MULTI CURSOR"]) { background-color: var(--normal-color) !important;   color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- INSERT --  MULTI CURSOR"]) { background-color: var(--insert-color) !important;   color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- REPLACE --  MULTI CURSOR"]) { background-color: var(--replace-color) !important;  color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- EASYMOTION --  MULTI CURSOR"]) { background-color: var(--easymotion-color) !important;   color: var(--black) !important}
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL --  MULTI CURSOR"]) { background-color: var(--visual-color) !important;   color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL LINE --  MULTI CURSOR"]) { background-color: var(--visualline-color) !important;   color: var(--white) !important}
#workbench\.parts\.statusbar:has([aria-label="-- VISUAL BLOCK --  MULTI CURSOR"]) { background-color: var(--visualblock-color) !important;   color: var(--black) !important}
#workbench\.parts\.statusbar:has([aria-label="-- SURROUND INPUT --  MULTI CURSOR"]) { background-color: var(--surround-color) !important;   color: var(--black) !important}

.monaco-workbench .quick-input-widget {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 600px !important;
    max-width: 90vw !important;
}
