.quick-input-widget .monaco-inputbox {
  /* border: solid 2px #89b4fa !important; */
  padding: 5px !important;
  border-radius: 3px !important;
}

/* Toolbars when tabs are enabled. */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .editor-actions {
  display: none !important;
}

/* Tabs */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.selected.tab-border-top
  > .tab-border-top-container {
  display: none;
}
.tab.active {
  font-weight: 600 !important;
  border: 1px solid #272727 !important;
}
.tab {
  border-radius: 3px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding-top: 2px !important;
  height: 30px !important;
  /* border: 1px solid #313244 !important; */
  /* background-color: #181818 !important; */
  align-items: center !important;
}
.tab .monaco-icon-label {
  height: 100% !important;
  align-items: center;
}
.tab .tab-label {
  line-height: 27px !important;
}
.tabs-container {
  height: auto !important;
  padding: 3px !important;
}

/* Tooltip box style */
.monaco-editor-hover,
.monaco-hover {
  z-index: 100;
  /* border: solid 1px #89b4fa !important; */
  border-radius: 3px !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45) !important;
  padding: 8px !important;
}

.monaco-tokenized-source {
  margin-bottom: 10px !important;
}

/* Suggestion widget box style */
.suggest-widget {
  z-index: 100;
  /* border: solid 1px #89b4fa !important; */
  border-radius: 3px !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45) !important;
  padding: 8px !important;
}
/* .suggest-widget .monaco-list-row.focused {
  background: #4f5971 !important;
} */
.suggest-details {
  z-index: 100;
  /* border: solid 1px #89b4fa !important; */
  border-radius: 3px !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45) !important;
  padding: 8px !important;
}

.editor-widget {
  z-index: 100;
  /* border: solid 1px #89b4fa !important; */
  border-radius: 3px !important;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.45) !important;
  padding: 8px !important;
}

#GitHub\.copilot\.status {
  background: #a6da95 !important;
  color: #1e1e2e !important;
}
#vscodevim\.vim\.showcmd {
  font-weight: 600 !important;
}
#ms-python\.python\.python\.selectedInterpreterDisplay {
  background: #e5c890 !important;
  color: #1e1e2e !important;
  font-weight: 600 !important;
}

/* Search icon */
.search-icon {
  display: none !important;
}

.codicon-search::before {
  display: none !important;
}

.codicon-arrow-right,
.codicon-arrow-left {
  display: none !important;
}

.titlebar-right > * {
  display: none !important;
}

.statusbar-item.left:has(.codicon-git-branch) {
  /* order: 1 !important; */
  /* background: #1e1e2e !important; */
  /* color: #9fd3d9 !important; */
  font-weight: 600 !important;
}

.quick-input-widget .monaco-inputbox {
  /* border: solid 2px #89b4fa !important; */
  padding: 5px !important;
  border-radius: 3px !important;
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important;
}

/* Terminal */
.xterm-link-layer {
  font-weight: 500 !important;
}
