:root {
    --spacing: 0.35rem;
    --border-radius: 0.5rem;
    --tab-spacing: 0.2rem;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label .monaco-icon-label>.label-name {
    color: var(--vscode-tab-activeForeground, #ffffff) !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
    border-radius: var(--border-radius);
    background-color: var(--vscode-tab-inactiveBackground, #171b26) !important;
    border: 2px solid var(--vscode-sideBar-border, rgb(0 0 0 / 21%)) !important;
    margin: 0 var(--tab-spacing) 0 var(--tab-spacing);
}

.tab-border-bottom-container,
.tab-border-top-container {
    background: none !important;
}

div.repl-tree.monaco-mouse-cursor-text.word-wrap {
    overflow: hidden !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active {
    background-color: var(--vscode-list-hoverBackground, #343b4d) !important;
    border: 2px solid var(--vscode-tab-activeBorder, #ffffffc4) !important;
}

.monaco-workbench .part.editor>.content .editor-group-container> {
    border: 2px solid var(--vscode-editorGroup-border, #243443) !important;
}

.breadcrumbs-below-tabs {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
    padding: 5px 0 0 0;
}

.monaco-breadcrumbs {
    font-size: 0.7rem;
}

.monaco-editor .sticky-widget,
.monaco-editor .scroll-decoration {
    box-shadow: none;
}

.results>.monaco-list>.monaco-scrollable-element,
.results>.monaco-list>.monaco-scrollable-element>.monaco-list-rows,
.monaco-list>.monaco-scrollable-element {
    border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}

.extensions-viewlet>.extensions .message-container {
    padding: unset !important;
}

.monaco-workbench .part.editor>.content .editor-group-container {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.monaco-split-view2.separator-border>.monaco-scrollable-element>.split-view-container>.split-view-view:not(:first-child):before,
.monaco-split-view2.separator-border.vertical>.monaco-scrollable-element>.split-view-container>.split-view-view:not(:first-child):before {
    background: var(--vscode-panel-border, #252a38) !important;
}

.welcome-view-content {
    background: var(--vscode-editor-background, #171b26) !important;
}

div.monaco-scrollable-element>div.split-view-container>div>div>div.pane-body {
    background: var(--vscode-sideBar-background, #171b26) !important;
}

#workbench\.parts\.sidebar>.content {
    width: auto !important;
}

#workbench\.parts\.editor>.content {
    background-color: unset !important;
}

.monaco-workbench .part.panel.bottom .composite.title {
    border-top-style: none !important;
}

li.action-item.icon.checked,
li.action-item.icon:hover {
    opacity: 1;
    border-radius: var(--border-radius);
    background-color: var(--vscode-actionBar-toggledBackground, #404245);
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .badge .badge-content {
    z-index: 99 !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-item.checked .active-item-indicator:before {
    border-left: none !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-label.codicon {
    font-size: 20px !important;
    font-weight: bold;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-label:not(.codicon) {
    padding: unset !important;
}

.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .action-label {
    width: 44px !important;
    height: 44px !important;
}

div.pane-body>div>div>div>div.monaco-list-rows {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    width: 97% !important;
    padding-bottom: 0.5rem;
}

.monaco-pane-view .pane>.pane-header {
    padding: 0 6px;
}

.monaco-workbench .part.sidebar>.title {
    background: transparent;
    padding: var(--spacing) 0 0 0;
}

.monaco-workbench .pane-composite-part>.header-or-footer>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item.checked .active-item-indicator:before,
.monaco-workbench .pane-composite-part>.header-or-footer>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:focus .active-item-indicator:before,
.monaco-workbench .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item.checked .active-item-indicator:before,
.monaco-workbench .pane-composite-part>.title>.composite-bar-container>.composite-bar>.monaco-action-bar .action-item:focus .active-item-indicator:before {
    border-top-width: 1px;
}

div .search-view .search-widget .replace-input {
    width: 100% !important;
}

.search-view .search-widget .search-container {
    padding-bottom: 5px !important;
}

.search-view .monaco-findInput {
    width: 98% !important;
    border: 3px solid var(--vscode-checkbox-border, #6b6b6b) !important;
    border-radius: var(--border-radius) !important;
}

.replace-input>.monaco-findInput>.controls {
    margin: 1px 2px 0 0 !important;
}

.search-view .search-widget .replace-container {
    width: 93.3% !important;
}

.monaco-findInput .monaco-inputbox {
    border-radius: var(--border-radius) !important;
}

.notification-toast,
.notification-toast>.notifications-list-container,
.notification-toast>.notifications-list-container>.monaco-list,
.notification-toast>.notifications-list-container>.monaco-list,
.monaco-scrollable-element,
.monaco-button,
.notifications-center.visible,
.chat-input-container,
.suggest-input-container {
    border-radius: var(--border-radius) !important;
}

.monaco-inputbox input::placeholder {
    color: var(--vscode-input-placeholderForeground, #cccccc80) !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container {
    margin: var(--border-radius) var(--border-radius) 0 var(--border-radius);
}

.monaco-icon-label:after {
    font-size: 70% !important;
    margin: 1px 16px 0 5px !important;
}

.monaco-editor .find-widget {
    top: 12px !important;
    border-radius: var(--border-radius) !important;
}

.search-view .query-details.more h4 {
    padding: 4px 0px 4px 1px !important;
}

.monaco-workbench .part.auxiliarybar>.title {
    background-color: unset !important;
}

.part.statusbar {
    background-color: var(--vscode-statusBar-background, #252a38) !important;
}

.terminal-group>.monaco-split-view2>.monaco-scrollable-element>.split-view-container>.split-view-view {
    background: var(--vscode-terminal-background, #171b26) !important;
}

.terminal.xterm,
.xterm-scrollable-element,
.xterm-scrollable-element>.xterm-screen,
.xterm-scrollable-element>.xterm-screen>.xterm-decoration-container {
    height: 100% !important;
}

.monaco-editor,
.monaco-editor-background {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    overflow: hidden;
}

.part.panel.basepanel.bottom.pane-composite-part {
    margin-top: 0.1rem;
}

.split-view-view.visible,
.split-view-container {
    background: var(--vscode-activityBar-background, #171b26) !important;
}
